@import "../../scss/config";

.inc-dec {
    &-title {
        padding: 0 0 0.5rem 0;
        color: $white;
        font-weight: 700;
    }
    &-input {
        display: flex;
        justify-content: space-evenly;
        &-info {
            color: $white;
            font-size: 1.5rem;
        }
        &-zero {
            padding: 0 0.5rem;
            color: $fuchia;
            font-size: 1.2rem;
        }
        &-icons {
            display: flex;
            align-items: center;
            &-icon {
                color: $white;
                font-size: 1.75rem;
                cursor: pointer;
                &:hover {
                    color: $fuchia;
                }
            }
        }
    }
}
