.expandable {
    width: 100%;
    background: #222222;
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.02);
    box-sizing: border-box;
    overflow: visible;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    &-text {
        width: 95%;
        &-title {
            font-size: 18px;
            &-star {
                margin-left: 5px;
            }
        }
        &-message {
            font-size: 14px;
            color: #a5a5a5;
            &:not(.expandable.expanded > .expandable-text > .expandable-text-message) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    &-body {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        border-top: 2px solid #141414;
        &-section {
            &-content {
                color: #a5a5a5;
            }
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
    &.closing {
        .expandable-body {
            animation: retract .3s 1 forwards;
        }
    }
    &.expanded {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1),
                    0px 10px 10px rgba(0,0,0,0.02),
                    0px 0px 35px rgba(172, 161, 57, 0.321);
        border: 1px solid #b8ac3f;
        transition: border-color ease-in-out .2s,
                    box-shadow ease-in-out .2s;
        .expandable-body {
            animation: expand .3s 1 both;
        }
    }
    &:hover {
        cursor: pointer;
    }
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
        margin-top: 0px;
        padding-top: 0px;
    }
    to {
        opacity: 1;
        margin-top: 20px;
        padding-top: 20px;
        max-height: max-content;
    }
}

@keyframes retract {
    to {
        max-height: 0;
        opacity: 0;
        margin-top: 0px;
        padding-top: 0px;
    }
    from {
        opacity: 1;
        margin-top: 20px;
        padding-top: 20px;
        max-height: max-content;
    }
}

@media only screen and (max-width: 790px) {
    .expandable {
        padding: 15px 20px;
        height: max-content;
    }
}