@import "../../../scss/config";

.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    &-header {
        color: $white;
        padding: 3rem;
        font-size: 2rem;
        font-weight: 800;
    }
    &-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        color: $grayish;
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 40%;
            height: 100%;
            padding: 2rem;
            border-radius: 1rem;
            background-color: rgba($color: $navy-blue, $alpha: 0.3);
            box-shadow: 0 8px 30px $black;
        }
        &-title {
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            font-weight: 800;
            width: 100%;
            border-bottom: 2px solid $grayish;
        }
        &-info {
            margin-top: 1rem;
        }
    }
}

.bot {
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 3rem;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 800;
    }
    &-title {
        display: flex;
        justify-content: center;
        width: 15%;
        text-indent: 50%;
        font-size: 1.5rem;
        font-weight: 800;
    }
    &-pair {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
    &-input {
        @include input-style(60%, 3rem);
    }
    &-button {
        @include button-style(20%, 3rem);
    }
}

.guild {
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2rem;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 800;
    }
    &-title {
        display: flex;
        font-size: 1.5rem;
        font-weight: 800;
    }
    &-pair {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        &-info {
            display: flex;
            align-items: center;
            height: 3rem;
            width: 80%;
            b {
                display: inline-block;
                color: $orange;
            }
            span {
                display: inline-block;
                color: $white;
            }
        }
        &-button {
            @include button-style(20%, 3rem);
        }
    }
    &-info {
        margin-top: 1rem;
        span {
            color: $white;
        }
    }
}
