#home {
	&-hero {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 12vh;
		height: calc(100vh - 75px);
		&-text {
			display: grid;
			place-items: center;
			&-title {
				font-size: 90px;
				line-height: 98px;
				text-transform: uppercase;
				color: #e8bb2a;
				font-family: 'Montserrat';
				font-weight: 800;
				text-shadow: 5px 10px 10px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.02);
			}
			&-slogan {
				font-size: 24px;
				text-align: center;
				width: 475px;
				font-family: 'Montserrat';
				font-weight: 500;
			}
		}
		&-cta {
			margin-top: 30px;
			width: 245px;
			&-invite {
				display: block;
				font-size: 28px;
				font-family: 'Montserrat';
				font-weight: 700;
				text-transform: uppercase;
				background: #bf9a22;
				color: white;
				padding: 20px 30px;
				border-radius: 5px;
				box-shadow: 0px 0px 35px rgba(232, 187, 42, 0.5),
							inset 0px 0px 20px rgba(191, 154, 34, 0.3);
				transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
				box-sizing: border-box;
				&:hover {
					text-decoration: none;
					transform: translateY(-5px);
					box-shadow: 0px 5px 20px rgba(232, 187, 42, 0.7),
								inset 0px 0px 20px rgba(191, 154, 34, 0.3);
				}
			}
		}
		&-circles {
			position: absolute;
			z-index: -1;
		}
	}
	section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 80vw;
		margin: 0 auto;
		&:not(:last-child) {
			margin-bottom: 10vh;
		}
		#homepage-snowflake-image {
			height: 100%!important;
			width: 120%;
			max-width: 703px;
			max-height: 445px;
		}
		&.reverse {
			flex-direction: row-reverse;
			img {
				height: 28rem;
			}
			.text-area {
				text-align: right;
				.section-body {
					width: 80%;
					margin-left: 20%;
				}
			}
		}
		img {
			height: 18rem;
		}
		.text-area {
			text-align: left;
			.section-title {
				font-size: 40px;
				font-family: 'Montserrat', sans-serif;
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: 1px;
				color: #ffffff;
			}
			.section-body {
				width: 80%;
				font-family: 'Inter', sans-serif;
				font-size: 20px;
				color: #a3a3a3;
				a {
					color: #bf9a22;
					&:hover {
						text-decoration: underline;
					}
				}
			}
	
		}
	
	}	
}

#invite-buttons-cta {
	display: flex;
	text-align: center;
    justify-content: center;
	#bottom-cta-button {
		margin: 2rem;
	}
}

@media only screen and (min-width: 455px) and (max-width: 1500px) {
	#home {
		&-hero {
			&-text {
				&-title {
					font-size: 70px;
					line-height: 70px;
					text-align: center;
				}
				&-slogan {
					width: 450px;
				}
			}
		}
		section, section.reverse {
			flex-direction: column;
			.text-area {
				text-align: center!important;
				.section-body {
					width: 100%!important;
					margin: unset;
					margin-bottom: 30px;
				}
			}
			img {
				height: unset!important;
				width: 80vw;
			}
		}

	}
}

@media only screen and (max-width: 1000px) {
	#home {
		&-hero {
			&-circles {
				transform: scale(0.7);
				overflow: hidden;
			}
		}
	}
}

@media only screen and (max-width: 454px) {
	#home {
		&-hero {
			height: calc(100vh - 150px);
			&-text {
				display: block;
				text-align: center;
				max-width: 100vw;
				&-title {
					font-size: 70px;
					line-height: 70px;
				}
				&-slogan {
					font-size: 18px;
					width: 100vw;
					padding: 0 5vw;
					box-sizing: border-box;
				}
			}
			&-cta {
				text-align: center;
				margin-top: 50px;
				&-invite {
					font-size: 23px;
					display: inline;
				}
			}
			&-circles {
				transform: scale(0.4);
				overflow: hidden;
			}
		}
		section, section.reverse {
			flex-direction: column;
			.text-area {
				text-align: center!important;
				.section-body {
					width: 100%!important;
					margin: unset;
					margin-bottom: 30px;
				}
			}
			img {
				height: unset!important;
				width: 80vw;
			}
		}
	}
}