@import "../../scss/config";

.hero {
    height: 100vh;
    width: 100%;
    @include hero-background;
    // background-color: $navy-blue;
    position: relative;
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        width: 100%;
        z-index: 2;
    }
    &-heading {
        display: flex;
        flex-direction: column;
        color: $white;
        z-index: 2;
        font-size: 5rem;
        font-weight: bold;
        text-align: center;
        // drop-shadow(offset-x offset-y blur-radius color)
        filter: drop-shadow(0 3px 0.2rem rgba(0, 0, 0, 0.5));
        &-img {
            width: 6rem;
            height: 6rem;
            align-self: center;
        }
    }
    &-button {
        display: flex;
        align-self: center;
        justify-self: center;
        color: $white;
        z-index: 2;
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: 600;
        border: 0.2rem solid $white;
        border-radius: 0 1rem;
        // offset-x | offset-y | blur-radius | spread-radius | color
        box-shadow: 1px 1px 8px 1px rgba(255, 255, 255, 0.5);
        transition: all 0.1s ease-in-out;
        &:hover {
            // add glow effect on hover  with transition
            box-shadow: 0 0 2rem 0.1rem rgba(255, 255, 255, 0.75);
        }
    }
    &-wave {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -2px;
    }
}

.login-button {
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: $blurple;
    color: $white;
    font-size: 1.25rem;
    font-weight: 650;
    border-radius: 1rem;
    height: 3rem;
    img {
        width: 2rem;
        padding: 0;
        margin-right: 1rem;
    }
    p {
        padding-top: 0.5rem;
    }
}
