@import "../../../scss/config";

.setup-heading {
    color: $white;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    font-weight: 900;
}

.setup {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-title {
        font-size: 1.5rem;
        font-weight: 800;
        color: $white;
        align-self: start;
    }
    &-content {
        padding: 1rem 1rem 0 1rem;
        color: $grayish;
        b {
            color: $fuchia;
        }
    }
    &-inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        padding: 0.5rem;
    }
    &-apply {
        margin-left: 0.5rem;
        @include button-style(20%, 3rem);
    }
    &-std-container {
        @include glass-container-style(45%, 80%, column, flex-start, center);
    }
    &-custom-role {
        &-internal {
            display: flex;
            justify-content: center;
        }
    }
    &-base-role {
        &-disabled {
            margin-top: 1rem;
            color: $white;
            font-weight: 800;
        }
    }
    &-color-input {
        display: flex;
        &-text {
            width: 50%;
            padding: 1rem;
            outline: none;
            color: $black;
            font-weight: 700;
            height: 3rem;
            border-radius: 0 0.5rem 0.5rem 0;
        }
        &-color {
            width: 5rem;
            height: 3rem;
            padding: 0.1rem;
            border-radius: 0.5rem 0 0 0.5rem;
        }
    }
}
