@import "../../../scss/config";

.setup-heading {
    color: $white;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    font-weight: 900;
}

.setup {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-title {
        font-size: 1.5rem;
        font-weight: 800;
        color: $white;
        align-self: start;
    }
    &-content {
        padding: 1rem 1rem 0 1rem;
        color: $grayish;
        b {
            color: $fuchia;
        }
    }
    &-inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        padding: 0.5rem;
    }
    &-bot-manager {
        @include glass-container-style(45%, 80%, column, flex-start, center);
    }
    &-custom-role {
        @include glass-container-style(45%, 80%, column, flex-start, center);
        &-internal {
            display: flex;
            justify-content: center;
        }
        &-apply {
            @include button-style(20%, 3rem);
        }
    }
    &-gifts {
        @include glass-container-style(45%, 80%, column, flex-start, center);
        &-apply {
            @include button-style(20%, 3rem);
        }
    }
    &-base-role {
        @include glass-container-style(45%, 80%, column, flex-start, center);
        &-disabled {
            margin-top: 1rem;
            color: $white;
            font-weight: 800;
        }
    }
    &-color {
        @include glass-container-style(45%, 80%, column, flex-start, center);
    }
    &-premium-reminder {
        @include glass-container-style(45%, 80%, column, flex-start, center);
    }
}
