@import "../../scss/config";

.ctaMid {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: $white;
    &-title {
        font-size: 3rem;
        font-weight: 800;
    }
    &-button {
        padding: 2rem;
        border-radius: 5rem;
        border: 0.2rem solid $orange;
        font-size: 2rem;
        font-weight: 600;
        transition: all 0.15s ease-in-out;
        &:hover {
            box-shadow: 0 0 4rem 0.1rem rgba(202, 126, 54, 0.75);
        }
    }
}
