@import "../../../scss/config";

.greet {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-heading {
        color: $white;
        text-align: center;
        font-size: 2rem;
        margin: 1rem;
        font-weight: 900;
    }
    &-title {
        font-size: 1.5rem;
        font-weight: 800;
        color: $white;
        align-self: start;
    }
    &-content {
        padding: 1rem 1rem 0 1rem;
        color: $grayish;
        b {
            color: $fuchia;
        }
    }
    &-clear {
        @include clear();
    }
    &-pair {
        @include pair();
    }
    &-input {
        @include input-style(60%, 3rem);
    }
    &-enable-button {
        margin-top: 2rem;
        @include button-style(40%, 3rem);
    }
    &-apply {
        margin-top: 1rem;
        align-self: center;
        color: $grayish;
        @include button-style(20%, 3rem);
    }
    &-std-container {
        @include glass-container-style(45%, 80%, column, flex-start, center);
    }
    &-full-container {
        @include glass-container-style(80%, 80%, column, flex-start, center);
    }
}
