* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    &:focus-visible {
        outline: none;
    }
}

$bgMain: #292929;
$darkYellow: #E0B020;
a {
    text-decoration: none;
}
body {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    overflow-wrap: break-word;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: $bgMain;
    font-family: 'Inter', sans-serif;
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat';
    }
    .content {
        font-family: 'Lato', sans-serif;
        padding: 10px;
        flex: 1 0 auto;
    }
    #pseudoBody {
        position: relative;
        overflow-x: hidden;
        min-height: calc(100vh - 40px);
        max-width: 100vw;
        color: white;
    }

    .nitropay {
        margin: 5vh auto;
    }

    .blurple { color: #7289DA; }  
    .bebble { color: #f9d02b; }
    .text-highlight {
        color: $darkYellow;
        font-weight: inherit;
    }

	#bottom-cta {
		width: 100%;
		display: grid;
		place-items: center;
		margin: 10vh 0;
		&-subtitle {
			font-size: 18px;
		}
		&-button {
			display: block;
			width: 180px;
			font-size: 18px;
			font-family: 'Montserrat';
			font-weight: 700;
			text-transform: uppercase;
			background: #bf9a22;
			color: #ffffff;
			margin: 20px 0;
			padding: 20px 30px;
			border-radius: 5px;
			box-shadow: 0px 0px 35px rgba(249, 208, 43, 0.5),
						inset 0px 0px 20px rgba(249, 208, 43, 0.3);
			transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
			box-sizing: border-box;
			&:hover {
                text-decoration: none;
				transform: translateY(-5px);
				box-shadow: 0px 5px 15px rgba(249, 208, 43, 0.7),
							inset 0px 0px 20px rgba(249, 208, 43, 0.3);

			}
		}
		&-text {
			font-family: 'Inter', sans-serif;
			a {
				font-weight: 400;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}		
} 

@media only screen and (max-width: 454px) {
    body {
        #bottom-cta {
            width: 80vw;
            margin: 5vh auto;
			text-align: center;
		}
    }
}
