@import "../../scss/config";

.privacy {
    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4rem;
    }
    &-heading {
        color: $golden;
        text-shadow: 1px 2px 10px rgba($color: $golden, $alpha: 0.5);
        font-size: 5rem;
        font-weight: 800;
        margin: 4rem 0 1rem 0;
    }
    &-subheading {
        color: $white;
        font-size: 1.2rem;
        font-weight: 800;
    }
    &-description {
        color: $grayish;
        font-weight: 400;
        margin: 1rem 0;
    }
    &-container {
        margin: 1rem 0;
        &-heading {
            text-decoration: underline;
            color: $fuchia;
            font-weight: 700;
            font-size: 1.5rem;
            margin: 2rem 0 1rem 0;
        }
        &-list {
            list-style-type: circle;
            margin: 0 0 0 2rem;
            &-item {
                color: $grayish;
                font-weight: 400;
                margin: 0.25rem 0 0.25rem 0;
            }
        }
    }
    &-link {
        display: flex;
        align-items: center;
        color: $fuchia;
        font-weight: 700;
        font-size: 1.5rem;
        margin: 1rem 0 5rem 0;
        img {
            margin-right: 1rem;
            height: 2.5rem;
            width: 2.5rem;
        }
    }
}
